body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f6f6f6;
  height: 100%;
}

.main {
  padding-top: 56px;
  background-color: #f6f6f6;
  min-height: 100vh;
}

@media (min-width: 600px) {
  .main {
    padding-top: 72px;
  }
}

.container {
  padding: 0 16px;
  margin: 0 auto 16px;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

@media (max-width: 599px) {
  .main .container {
    margin-bottom: 0;
  }
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-combine-upright: 0;
  background-color: #fff;
  height: 56px;
}

.header__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007e7e;
}

.header__search-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__search-btn path {
  fill: #007e7e;
}

.data {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
}

.data__buttons-wrapper {
  padding: 8px 0;
}

.data__button-list {
  padding: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 38px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: rgba(0, 0, 0, 0.05);
}

.data__button-item:last-child .data__button::after {
  content: none;
}

.data__button {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: #111111;
  cursor: pointer;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: 400;
}

.data__button::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  top: 25%;
  right: 0;
  background-color: #999999;
  opacity: 0.24;
}

.data__button--current {
  color: #007e7e;
  background-color: white;
  font-weight: 600;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 13px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 13px;
}

.data__sections-wrapper {
  padding-bottom: 15px;
}

.content-section {
  display: none;
  padding-top: 10px;
  min-height: -webkit-calc(100vh - 156px);
  min-height: calc(100vh - 156px);
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

@media (max-width: 599px) {
  .content-section {
    min-height: -webkit-calc(100vh - 130px);
    min-height: calc(100vh - 130px);
  }
}

.content-section--current {
  display: -ms-grid;
  display: grid;
}

.content-section__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #111111;
}

.content-section__button {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  font-family: inherit;
}

.content-section__button::after {
  margin-left: 5px;
  width: 12px;
  height: 12px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='12' %3E%3Cdefs%3E%3Csvg id='Bold' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23Bold' fill='%23999999'%3E%3C/use%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.content-section__input-data-button {
  margin-top: 15px;
  width: 56px;
  height: 56px;
  border: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #007e7e;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 4px 4px) drop-shadow(rgba(0, 0, 0, 0.12) 0px 0px 4px);
          filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 4px 4px) drop-shadow(rgba(0, 0, 0, 0.12) 0px 0px 4px);
}

.content-section__input-data-button svg {
  fill: #fff;
}

.list__item {
  padding: 12px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #111111;
}

.list__content {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #555555;
}

.details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  -webkit-transform: translateX(100vw);
      -ms-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.details--current {
  display: block;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.details__header {
  padding: 16px;
  width: 100%;
  height: 56px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__back-button {
  margin-right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.details__header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007e7e;
}

.details__content {
  padding: 8px 0;
  margin-bottom: 17px;
  background-color: #fff;
}

.details__list li:last-child {
  border-bottom: 0;
}

.details__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.details__text {
  padding: 12px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 75, 75, 0.1);
  color: #004b4b;
  background-color: rgba(0, 126, 126, 0.1);
}

.details__img-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.details__title-for-dish {
  width: 100%;
  padding: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
  padding: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.popup-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup-wrapper--current {
  display: block;
}

.popup {
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  width: 50%;
  min-width: 500px;
  max-width: 700px;
  height: 80%;
  max-height: 800px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 32px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 32px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -webkit-transition: opacity 200ms ease 0s, -webkit-transform 200ms ease-out 0s;
  transition: opacity 200ms ease 0s, -webkit-transform 200ms ease-out 0s;
  -o-transition: transform 200ms ease-out 0s, opacity 200ms ease 0s;
  transition: transform 200ms ease-out 0s, opacity 200ms ease 0s;
  transition: transform 200ms ease-out 0s, opacity 200ms ease 0s, -webkit-transform 200ms ease-out 0s;
}

@media (max-width: 599px) {
  .popup {
    height: 100vh;
    max-height: unset;
    min-width: unset;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}

.popup__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.popup__button-reset-close {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' %3E%3Cdefs%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' id='Bold'%3E%3Cpath fillrule='evenodd' cliprule='evenodd' d='M5.98949 4.57537C5.79423 4.38011 5.47765 4.38011 5.28239 4.57537L4.57528 5.28248C4.38002 5.47774 4.38002 5.79432 4.57528 5.98958L10.5857 12L4.57539 18.0104C4.38012 18.2057 4.38012 18.5222 4.57539 18.7175L5.28249 19.4246C5.47775 19.6199 5.79434 19.6199 5.9896 19.4246L12 13.4143L18.0103 19.4246C18.2056 19.6199 18.5222 19.6199 18.7174 19.4246L19.4245 18.7175C19.6198 18.5222 19.6198 18.2057 19.4245 18.0104L13.4142 12L19.4246 5.98958C19.6199 5.79432 19.6199 5.47774 19.4246 5.28248L18.7175 4.57537C18.5223 4.38011 18.2057 4.38011 18.0104 4.57537L12 10.5858L5.98949 4.57537Z'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23Bold' fill='%23007E7E'%3E%3C/use%3E%3C/svg%3E");
}

.popup__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007e7e;
  margin-bottom: 16px;
}

.popup__button-submit-open {
  opacity: 0.4;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20'%0Aheight='20' viewBox='0 0 24 24' fill='%23007E7E'%3E%3Cpath d='M23.374.287a1.5,1.5,0,0,0-2.093.345L7.246,20.2,2.561,15.511A1.5,1.5,0,1,0,.439,17.632l5.935,5.934a1.525,1.525,0,0,0,2.279-.186l15.066-21A1.5,1.5,0,0,0,23.374.287Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.popup__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.popup__item {
  padding: 8px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  row-gap: 8px;
}

.popup__label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #555555;
}

.popup__required {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.875rem;
  color: #999999;
}

.popup input {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.popup__input {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
  padding: 12px;
  width: 100%;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #111111;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-family: inherit;
  border: none;
  -webkit-transition: background-color 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
  -o-transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
}

.popup__commentary {
  resize: none;
  height: 104px;
}

.popup__radio-input-wrapper {
  display: none;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  z-index: 10;
}

.popup__radio-input-wrapper--insuline-type {
  -webkit-transform: translateY(100vh);
      -ms-transform: translateY(100vh);
          transform: translateY(100vh);
}

.popup__radio-input-wrapper--measure-type {
  -webkit-transform: translateY(100vh);
      -ms-transform: translateY(100vh);
          transform: translateY(100vh);
}

.popup__radio-input-wrapper--current {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  display: block;
}

.popup__radio-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.popup__radio-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007e7e;
}

.popup__radio-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23007E7E' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillrule='evenodd' cliprule='evenodd' d='M5.98949 4.57537C5.79423 4.38011 5.47765 4.38011 5.28239 4.57537L4.57528 5.28248C4.38002 5.47774 4.38002 5.79432 4.57528 5.98958L10.5857 12L4.57539 18.0104C4.38012 18.2057 4.38012 18.5222 4.57539 18.7175L5.28249 19.4246C5.47775 19.6199 5.79434 19.6199 5.9896 19.4246L12 13.4143L18.0103 19.4246C18.2056 19.6199 18.5222 19.6199 18.7174 19.4246L19.4245 18.7175C19.6198 18.5222 19.6198 18.2057 19.4245 18.0104L13.4142 12L19.4246 5.98958C19.6199 5.79432 19.6199 5.47774 19.4246 5.28248L18.7175 4.57537C18.5223 4.38011 18.2057 4.38011 18.0104 4.57537L12 10.5858L5.98949 4.57537Z'%3E%3C/path%3E%3C/svg%3E");
}

.popup__checkbox-item {
  padding: 0 0;
}

.popup__radio-input:checked + .popup__radio-label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20'%0Aheight='20' viewBox='0 0 24 24' fill='%23007E7E'%3E%3Cpath d='M23.374.287a1.5,1.5,0,0,0-2.093.345L7.246,20.2,2.561,15.511A1.5,1.5,0,1,0,.439,17.632l5.935,5.934a1.525,1.525,0,0,0,2.279-.186l15.066-21A1.5,1.5,0,0,0,23.374.287Z'%3E%3C/path%3E%3C/svg%3E");
}

.popup__radio-label {
  padding: 12px 0;
  position: relative;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #111111;
}

.popup__radio-button-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.popup__radio-button-label::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' %3E%3Cdefs%3E%3Csvg viewBox='0 0 24 24' fill='none' id='icon-import' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath vector-effect='non-scaling-stroke' d='M6 9L12 15L18 9' stroke='var(--stroke-color)' stroke-width='var(--stroke-width)' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23icon-import' stroke='%23999999' fill='%23999999' stroke-width='1.5px'%3E%3C/use%3E%3C/svg%3E");
}
