.popup-wrapper{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: 665px;
    background-color: rgba($color: #000000, $alpha: 0.2);    
    &--current{
        display: block;
    }
    &--calculator{
        display: block;
    }
}
.popup {  
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $popuo-white-bg;    
    width: 50%;
    min-width: 500px;
    max-width: 700px;
    height: 80%;
    max-height: 800px;
    min-height: 635px;
    box-shadow: rgba(#000, 0.25) 0px 8px 32px;
    border-radius: 12px;    
    transition: transform 200ms ease-out 0s, opacity 200ms ease 0s;     
    @media(max-height:650px){
        top: 0;
        transform: translate(-50%,15px);
    }       
    @media(max-width:"599px"){
        height: 100vh;
        max-height: unset;
        min-width: unset;
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(0,0);
        border-radius: 0;
    }    
    &__header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 10px;
    }

    &__button-reset-close {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' %3E%3Cdefs%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' id='Bold'%3E%3Cpath fillrule='evenodd' cliprule='evenodd' d='M5.98949 4.57537C5.79423 4.38011 5.47765 4.38011 5.28239 4.57537L4.57528 5.28248C4.38002 5.47774 4.38002 5.79432 4.57528 5.98958L10.5857 12L4.57539 18.0104C4.38012 18.2057 4.38012 18.5222 4.57539 18.7175L5.28249 19.4246C5.47775 19.6199 5.79434 19.6199 5.9896 19.4246L12 13.4143L18.0103 19.4246C18.2056 19.6199 18.5222 19.6199 18.7174 19.4246L19.4245 18.7175C19.6198 18.5222 19.6198 18.2057 19.4245 18.0104L13.4142 12L19.4246 5.98958C19.6199 5.79432 19.6199 5.47774 19.4246 5.28248L18.7175 4.57537C18.5223 4.38011 18.2057 4.38011 18.0104 4.57537L12 10.5858L5.98949 4.57537Z'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23Bold' fill='%23007E7E'%3E%3C/use%3E%3C/svg%3E");
        
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;        
        color: $green;
        margin-bottom: 16px;
    }

    &__button-submit-open {        
        width: 24px;
        height: 24px;      
        border: none;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20'%0Aheight='20' viewBox='0 0 24 24' fill='%23007E7E'%3E%3Cpath d='M23.374.287a1.5,1.5,0,0,0-2.093.345L7.246,20.2,2.561,15.511A1.5,1.5,0,1,0,.439,17.632l5.935,5.934a1.525,1.525,0,0,0,2.279-.186l15.066-21A1.5,1.5,0,0,0,23.374.287Z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
    }

    &__body {
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
    }
    &__item{        
        padding: 8px 0;
        display: grid;
        grid-template-columns: 1fr max-content;
        row-gap: 8px;
    }
    &__item-with-description{
        position: relative;        
    }
    &__labels-description{
        text-align: right;
        justify-content: flex-end;
        position: absolute;
        right: 10px;
        bottom: 11px;
        width: 100%;
        max-width: 100px;
        height: 37px;
        display: flex;
        font-size: 15px;
        align-items: center;
        color: #999999;
    }
    &__label{
        
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.0625rem;        
        color: $font-gray;
    }
    &__required{
        font-weight: 500;
        font-size: 0.625rem;
        line-height: 0.875rem;        
        color: rgb(153, 153, 153);
    }
    input{
        font-family: inherit;
        color: inherit;
        font-weight: inherit;
        font-style: inherit;
    }
    &__input{
        grid-row: 2/3;
        grid-column: 1/-1;
        padding: 12px;
        width: 100%;
        height: 44px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        color: $font-black;        
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1875rem;
        font-family: inherit;
        border: none;
        transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
    }
    &__input:focus{
        outline-color: $green;
    }
    &__input--button{
        position: relative;
        text-align: left;
        &::after{
            position: absolute;
            content: "";
            width: 24px;
            height: 24px;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' %3E%3Cdefs%3E%3Csvg viewBox='0 0 24 24' fill='none' id='icon-import' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath vector-effect='non-scaling-stroke' d='M6 9L12 15L18 9' stroke='var(--stroke-color)' stroke-width='var(--stroke-width)' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23icon-import' stroke='%23999999' fill='%23999999' stroke-width='1.5px'%3E%3C/use%3E%3C/svg%3E");
        }
    }
    &__commentary{
        resize: none;
        height: 104px;
    }
    
}
.popup {     
    &__radio-input-wrapper {            
        padding: 16px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $popuo-white-bg;
        border-radius: 12px;  
        z-index: 10;
        transform: scale(0);  
        transition: scale 0.3s ease;      
        &--current{
            transform: scale(1);            
        }
    }

    &__radio-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    &__radio-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;       
        color: $green;
    }

    &__radio-button {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23007E7E' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillrule='evenodd' cliprule='evenodd' d='M5.98949 4.57537C5.79423 4.38011 5.47765 4.38011 5.28239 4.57537L4.57528 5.28248C4.38002 5.47774 4.38002 5.79432 4.57528 5.98958L10.5857 12L4.57539 18.0104C4.38012 18.2057 4.38012 18.5222 4.57539 18.7175L5.28249 19.4246C5.47775 19.6199 5.79434 19.6199 5.9896 19.4246L12 13.4143L18.0103 19.4246C18.2056 19.6199 18.5222 19.6199 18.7174 19.4246L19.4245 18.7175C19.6198 18.5222 19.6198 18.2057 19.4245 18.0104L13.4142 12L19.4246 5.98958C19.6199 5.79432 19.6199 5.47774 19.4246 5.28248L18.7175 4.57537C18.5223 4.38011 18.2057 4.38011 18.0104 4.57537L12 10.5858L5.98949 4.57537Z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: none;
    }

    &__checkbox-list {
    }

    &__checkbox-item {
        padding: 0 0;
    }

    &__radio-input {
        
    }
    &__radio-input:checked+&__radio-label::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;           
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20'%0Aheight='20' viewBox='0 0 24 24' fill='%23007E7E'%3E%3Cpath d='M23.374.287a1.5,1.5,0,0,0-2.093.345L7.246,20.2,2.561,15.511A1.5,1.5,0,1,0,.439,17.632l5.935,5.934a1.525,1.525,0,0,0,2.279-.186l15.066-21A1.5,1.5,0,0,0,23.374.287Z'%3E%3C/path%3E%3C/svg%3E");
    }
    &__radio-label {
        padding: 12px 0;
        position: relative;
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.1875rem;        
        color: $font-black;       
    }
    &__radio-button-label{
        display: flex;        
        position: relative;
        
    }
}
// CALCULATOR

.popup {
    &--calculator{
        display: grid;
        grid-template-rows: auto 1fr;
      padding: 0;
    }
    &__form-inner{
        height: 100%;
    }
	&__dish-title {
        margin-bottom: 10px;
	}
	&__dish-all-kcal {
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 16px;
	}
	&__dish-kcal-current {
	}
	&__dish-kcal-max {
	}
	&__dish-progress-bar {
        margin-bottom: 12px;
        width: 100%;
        height: 4px;
        background-color: #D9D9D9;
        border-radius: 2px;
	}
    &__dish-progress-span{
        display: block;
        height: 100%;
        width: 50%;
        background-color: $green;
        border-radius: 2px;
    }
	&__dish-list {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
	}
	&__dish-item {
        position: relative;
        font-size: 12px;
        padding-left: 11px;
        &::before{
            position: absolute;
            left: 0;
            top: 0;            
            flex-shrink: 0;
            margin-top: 2px;
            margin-right: 3px;
            content: "";
            width:7px;
            height: 7px;
            border-radius: 50%;
            background-color: #AC6969;            
        }
	}
	&__body {
	}
    &__form{
        height: 100%;
    }
	&__form-inner {
        display: grid;
        grid-template-rows: 1fr auto;
	}
    &__dish-fieldset-wrapper{
        padding: 16px 22px;
    }
	&__dish-fieldset {
        margin-bottom: 15px;
        padding: 0;
        border: 0;
	}
	&__dish-legend {
        width: 100%;
        margin-bottom: 12px;
        font-size: 17px;
        font-weight: 700;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 10px;
	}
	&__dish-reset-button {
        width: 24px;
        height: 24px;
        background-color: transparent;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23b3b3b3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillrule='evenodd' cliprule='evenodd' d='M5.98949 4.57537C5.79423 4.38011 5.47765 4.38011 5.28239 4.57537L4.57528 5.28248C4.38002 5.47774 4.38002 5.79432 4.57528 5.98958L10.5857 12L4.57539 18.0104C4.38012 18.2057 4.38012 18.5222 4.57539 18.7175L5.28249 19.4246C5.47775 19.6199 5.79434 19.6199 5.9896 19.4246L12 13.4143L18.0103 19.4246C18.2056 19.6199 18.5222 19.6199 18.7174 19.4246L19.4245 18.7175C19.6198 18.5222 19.6198 18.2057 19.4245 18.0104L13.4142 12L19.4246 5.98958C19.6199 5.79432 19.6199 5.47774 19.4246 5.28248L18.7175 4.57537C18.5223 4.38011 18.2057 4.38011 18.0104 4.57537L12 10.5858L5.98949 4.57537Z'%3E%3C/path%3E%3C/svg%3E");
        border: none;
        background-repeat: no-repeat;
	}
	&__dish-list-input {
        margin-bottom: 10px;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
	}
	&__dish-item-input {
        position: relative;
        &:first-child .popup__dish-input{
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
        &:nth-child(2) .popup__dish-input{
          border-left: 0;
          border-right: 0;
        }
        &:last-child .popup__dish-input{
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
	}
	&__dish-input {
        padding: 7px 10px;
        width: 100%;
        background-color: transparent;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        font-family: inherit;
        outline-color: $green;
        &::placeholder{
            color: #000000;
            font-family: inherit;
        }
	}
    &__dish-description-span{
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 8px;
        color: #A9A9A9;
        font-size: 14px;
        transform: translateY(-50%);
    }
	&__dish-range {
        
        &:focus{
            outline: none;
        }
	}
    &__dish-button-wrapper{
        background-color: #EDEDED;
        padding: 16px 22px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
	&__dish-button-submit {
        background-color: $green;
        width: 100%;
        padding: 18px;
        border: none;
        border-radius: 12px;
        color: #ffffff;
	}
	&__dish-finish-kcal {
	}
	&__dish-finish-weight {
	}
}
.popup-header {
    padding: 16px 22px;
    background-color: #EDEDED;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}



